*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug .container{
    min-height: 20px;
}
.debug [class*="col-"] {
    min-height: 20px;
    background-color: rgb(0, 110, 255);
    color: white;
    border: 1px solid white;
    text-align: center;
    line-height: 20px;
    padding: 8px;
}

.row-flex{
    display: flex;
}

.row .col-6 div,
.row .col-7 div,
.row .col-5 div{
    background-color: lightgreen;
    color: rgb(0, 110, 255);
    border: 1px solid rgb(0, 110, 255);
}

.height-fixed{
    height: 40px;
}
#space-top{ margin-top: 15px;}

.title{
    padding: 10px 0;
}

/* framework */

.container{
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* columns */

.col-1{
    flex-basis: calc((100% / 12) * 1);
}
.col-2{
    flex-basis: calc((100% / 12) * 2);
}
.col-3{
    flex-basis: calc((100% / 12) * 3);
}
.col-4{
    flex-basis: calc((100% / 12) * 4);
}
.col-5{
    flex-basis: calc((100% / 12) * 5);
}
.col-6{
    flex-basis: calc((100% / 12) * 6);
}
.col-7{
    flex-basis: calc((100% / 12) * 7);
}
.col-8{
    flex-basis: calc((100% / 12) * 8);
}
.col-9{
    flex-basis: calc((100% / 12) * 9);
}
.col-10{
    flex-basis: calc((100% / 12) * 10);
}
.col-11{
    flex-basis: calc((100% / 12) * 11);
}
.col-12{
    flex-basis: calc((100% / 12) * 12);
}

/* offset */

.space-offset-1{
    margin-left: calc((100% / 12) * 1);
}
.space-offset-2{
    margin-left: calc((100% / 12) * 2);
}
.space-offset-3{
    margin-left: calc((100% / 12) * 3);
}
.space-offset-4{
    margin-left: calc((100% / 12) * 4);
}
.space-offset-5{
    margin-left: calc((100% / 12) * 5);
}
.space-offset-6{
    margin-left: calc((100% / 12) * 6);
}
.space-offset-7{
    margin-left: calc((100% / 12) * 7);
}
.space-offset-8{
    margin-left: calc((100% / 12) * 8);
}
.space-offset-9{
    margin-left: calc((100% / 12) * 9);
}
.space-offset-10{
    margin-left: calc((100% / 12) * 10);
}
.space-offset-11{
    margin-left: calc((100% / 12) * 11);
}
